<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Грешка</title>
</head>
<body>
    <hgroup>
        <h1>Грешка!</h1>
        <h2>Възникна грешка при вашата заявка.</h2>
        <h4>@ViewBag.Error</h4>
    </hgroup>
</body>
</html>
