@{
    ViewBag.Title = "Промяна на потребител";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Промяна на паролата на потребител</h2>
<br />

@Html.ValidationSummary("", new { @class = "text-danger" })
<edit-user inline-template>

    <template v-if="loading">
        <v-text-field color="primary"
                      loading
                      label="Зареждане..."
                      readonly>
        </v-text-field>
    </template>
    <template v-else>
        <v-card flat width="100%">
            <v-card-text>
                <v-container>
                    <v-form ref="form"
                            v-model="valid"
                            lazy-validation>

                        <v-text-field v-model="Form.Password"
                                      :rules="[validationRules.requiredField, validationRules.minlenght]"
                                      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                      :type="showPassword ? 'text' : 'password'"
                                      label="Парола"
                                      counter
                                      autocomplete="off"
                                      @@click:append="showPassword = !showPassword"></v-text-field>

                        <v-text-field v-model="Form.ConfirmPassword"
                                      :rules="[validationRules.requiredField, passwordMatch]"
                                      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                      :type="showPassword ? 'text' : 'password'"
                                      label="Потвърждение на парола"
                                      counter
                                      autocomplete="off"
                                      @@click:append="showPassword = !showPassword"></v-text-field>
                        <br />
                        <v-row justify="end">
                            <v-btn color="primary"
                                   class="mr-4"
                                   @@click="submitForm">
                                Запази
                            </v-btn>
                            <v-btn color="primary"
                                   class="mr-4"
                                   text
                                   @@click="dialog = false">Затвори</v-btn>
                        </v-row>
                    </v-form>
                </v-container>
            </v-card-text>
        </v-card>
    </template>
</edit-user>





@section Scripts{
    <script src="~/JSModels/Account/Register.js"></script>


    @* Scripts *@
    @Scripts.Render("~/Scripts/VueComponents/editUserPasswordForm.js")
}

