<v-bottom-navigation>
    <v-btn v-on:click="showLog = false">
        <span>Форма</span>
        <v-icon>mdi-clipboard-outline</v-icon>
    </v-btn>

    <v-btn v-on:click="showLog = true">
        <span>История</span>
        <v-icon>mdi-history</v-icon>
    </v-btn>
</v-bottom-navigation>